{{include './header.html'}}
<div class="index">
        <div class="all-left">
            {{if data}}
            <div class="about">
                <p>关于</p>
                <p class="about-content">
                    <img src="/img/头像.jpg" alt="">
                    <span>姓名:
                        {{data.username}}<br>年龄:{{data.age}}
                    </span>
                </p>
                <p>所学专业是{{data.major}},我的电子邮箱是{{data.mailbox}},喜欢{{data.hobby.toString()}}</p>

            </div>
            {{/if}}
            <div class="search">
                <form action="/search" method="post">
                    <label>
                        <input type="text" name="search" placeholder="请输入搜索的内容" required>
                        <button type="submit">搜索</button>
                    </label>
                </form>
            </div>
            <div class="classify">
                <p>分类</p>
                <p>文章 ( {{msgs.length}} )</p>
                <p>相册 ( 0 )</p>
            </div>
            <div class="publish">
                <p>存档</p>
                {{each msgs msg i}}
                <p><img src="/img/点点.png" alt=""> <a href="/edit/{{msg._id}}">{{msg.title}}</a></p>
                {{/each}}
            </div>
            <div class="link">
                <p>友情链接</p>
                {{if data}}
                <p><a href="/">{{data.username}}的个人博客</a></p>
                {{/if}}
            </div>
            <div class="link">
                <p>关注我</p>
                <img src="/img/二维码.png" alt="">
            </div>
        </div>
        <div class="index-right">
        {{if msgs.length>0 }}
            {{include './page.html'}}
        {{/if}}
        {{each msgs msg}}
        <div class="index-right all-content">               
                <div  class="title-hover">
                <a href="/edit/{{msg._id}}">{{msg.title}}</a>
                <span>作者:</span>
                <a class="all-content-author" href='/label/{{msg.author}}'>{{msg.author}} </a>|
            <span>日期：{{msg.time}}</span>|
                <span>标签:</span>
                <a href='/label/{{msg.label[0]}}'>
                {{msg.label[0]}}            
                </a>
                <a href='/label/{{msg.label[1]}}'>
                {{msg.label[1]}}
                </a>
                <a href='/label/{{msg.label[2]}}'>
                {{msg.label[2]}}
                </a>
        </div>
        <div class="content-content">
                <a style="text-decoration: none" href="/edit/{{msg._id}}">{{msg.content}}</a></div>
            <div>
            <div>
                <span>阅读：{{msg.count-1}}次 | 评论：{{msg.reply.length}}次</span>
            </div>
       <hr>
            {{/each}}
        </div>
    </div>
    </div>
{{include './footer.html'}}